body {
	
	margin: 0;
	padding: 0;
	min-width: 1024px;
	font-family: 'Open Sans', sans-serif;

}

/* Стили блока хедера */

.header-page {
	
	position: relative;
	height: 600px;
	//background-color: red;

}


.wrapper {
	margin: 0 auto;
	width: 1000px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Если хотите поменять высоту логотипа, 
то меняйте значение padding-top у селектора .logo */
.logo {
   
   margin: 0 auto;
   position: relative;
    width: 400px;
    padding-top: 338px;
   

}

.logo-icon {
	position: absolute;
	bottom: 0;
	left: 0;

}

.logo-name {
	
	font-family: 'Didact Gothic', sans-serif;
	font-weight: 400;
	font-size: 50px;
	text-align: right;
	padding-bottom: 20px;
	padding-right: 40px;

}

.left-top-rangle, 
.right-top-rangle, 
.left-bottom-rangle, 
.right-bottom-rangle {

	position: absolute;
}

.left-top-rangle {
	top: 64px;
	left: 64px;
	border-left: 4px solid black;
	border-top: 4px solid black;
	height: 64px;
	width: 64px;

}

.right-top-rangle {
	top: 64px;
	right: 64px;
 
  
}

.left-bottom-rangle {
	bottom: 0px;
	left: 64px;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	height: 64px;
	width: 64px;

}

.right-bottom-rangle {
	bottom: 0px;
	right: 64px;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
	height: 64px;
	width: 64px;
}

/* Конец стили блока хедера */





/* Начало стили блока портфолио */


.portfolio {
	
     margin-top: 200px;
     //background-color: red;
     height: 500px;
    
    
}



.menu {
   position: absolute;
    margin: auto;
   top: 30px;
   left: 0px;
   right: 0px;
   bottom: 0px;
}

.menu-top {
	float: left;
}

.menu-top .menu-logo {
    
    display: inline-block;
    vertical-align: middle;

}

.menu-top .menu-caption {
     
     display: inline-block;
     font-size: 44px;
     vertical-align: middle;
     font-weight: 900;
     margin-left: 50px;
     margin-bottom: 10px;
     color: white;



}

.menu-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: right;

	

}


.menu-list li {
   margin: 0px;
   padding: 0px;
   display: inline-block;
   margin-right: 30px;
   font-size: 22px;
   vertical-align: middle;


}

.menu-list li:last-child {
    margin-right: 0px;
}

.menu-list li a {
	text-decoration: none;
	color: white;
	

}


/* Стилизуем слайдер */

.slideshow-container {
	width: 100%;
	position: relative;
	
	
}

.fade:nth-child(1){
	background-image: url(../images/background-portfolio-1.png);
	
}

.fade:nth-child(2) {
    background-image: url(../images/background-portfolio-2.png);
    

}

.fade:nth-child(3) {
    background-image: url(../images/background-portfolio-3.png);
}

.fade {
	height: 725px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

}
}

.next {
	right: 35px;
}

.prev {
	left: 35px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}


.dot {
	cursor: pointer;
	height: 12px;
	width: 12px;
	background-color: #FFFFFF;
	border-radius: 25%;
	display: inline-block;
	//transition: background-color 0.6s ease;
	text-align: center;


}

.dot:nth-child(3), .dot:nth-child(4) {
      
    margin-bottom: 5px;
   

}

.mark-slide {
	//background-color: red;
	position: absolute;
	bottom: 73px;
	left: 144px;
	width: 40px;
	text-align: center;
}


.portfolio-title {
	font-size: 50px;
	margin: 0px;
	padding: 0px;
}


.subscript-portfolio {
      margin: 0px;
	  padding: 0px;
	  font-family: 'Didact Gothic', sans-serif;
	  font-size: 20px;
}
.description-portfolio {
	width: 600px;
	color: white;
	padding-top: 300px;
	padding-left: 115px;

}

.social-porfolio {
	margin-top: 150px;
}

.social-slide-p {
	display: inline-block;
	margin-right: 35px;
}

.social-slide-p:last-child {
	margin-right: 0px;
}


.social-slide-p a {
	color: white;
}

.social-porfolio {
	float: right;
}

.counter {
	font-size: 103px;
	color: white;
	font-weight: bold;
	opacity: 0.5;
	position: absolute;
	bottom: 55px;
	left: 260px;
    

}







