body {
	
	margin: 0;
	padding: 0;
	min-width: 1024px;
	font-family: 'Open Sans', sans-serif;


}



.menu {
   position: fixed;
   top: 50px;
   left: 70px;
   z-index: 2;

}

.menu-top {
	float: left;
}

.menu-logo svg {
	stroke: white;
}

.menu-logo {
	position: relative;
}


.menu-top .menu-logo {
    
    display: inline-block;
    vertical-align: middle;

}

.menu-top .menu-caption {
     
     display: inline-block;
     font-size: 44px;
     vertical-align: middle;
     font-weight: 900;
     margin-left: 50px;
     margin-bottom: 10px;
     color: white;



}

.menu-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: right;

	

}




.menu-underline {
    height: 3px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
}

.linemove {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 3px;
 opacity: 0.3;
 background: white;
 border-radius: 5px;
 transition: all 0.2s ease;
}

.menu-list li:hover .linemove {
 width: 70%;
}



.menu-list li {
   margin: 0px;
   padding: 0px;
   display: inline-block;
   margin-right: 30px;
   font-size: 18px;
   vertical-align: middle;
   color: white;
   cursor: pointer;
   font-family: 'Didact Gothic', sans-serif;
   transition-duration: 1s;

}




.menu-list li:last-child {
    margin-right: 0px;
}





/* Стили блока хедера */

.header-page {
	
	position: fixed;
	height: 650px;
	z-index: 10;
	background-color: white;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	margin: auto;
	height: 100%;
	transition-duration: 1s; 
	display: none;
}


.wrapper {
	margin: 0 auto;
	width: 1000px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Если хотите поменять высоту логотипа, 
то меняйте значение padding-top у селектора .logo */
.logo {
   
   margin: 0 auto;
   position: relative;
    width: 400px;
    padding-top: 338px;
   

}

.logo-icon {
	position: absolute;
	bottom: 0;
	left: 0;

}

.logo-name {
	
	font-family: 'Didact Gothic', sans-serif;
	font-weight: 400;
	font-size: 50px;
	text-align: right;
	padding-bottom: 20px;
	padding-right: 40px;

}

.left-top-rangle, 
.right-top-rangle, 
.left-bottom-rangle, 
.right-bottom-rangle {

	position: absolute;
}

.left-top-rangle {
	top: 64px;
	left: 64px;
	border-left: 4px solid black;
	border-top: 4px solid black;
	height: 64px;
	width: 64px;

}

.right-top-rangle {
	top: 64px;
	right: 64px;
 
  
}

.left-bottom-rangle {
	bottom: 64px;
	left: 64px;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	height: 64px;
	width: 64px;

}

.right-bottom-rangle {
	bottom: 64px;
	right: 64px;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
	height: 64px;
	width: 64px;
}

/* Конец стили блока хедера */





/* Начало стили блока портфолио */


.portfolio {
	
     //margin-top: 100px;
     height: 755px;
     position: relative;

    
}
/* Стилизуем слайдер */

.slideshow-container-portfolio {
	width: 100%;
	position: relative;
}

.fade-portfolio:nth-child(1){
	background-image: url(../images/background-portfolio-1.png);
	
}

.fade-portfolio:nth-child(2) {
    background-image: url(../images/background-portfolio-2.png);
    

}

.fade-portfolio:nth-child(3) {
    background-image: url(../images/background-portfolio-3.png);
}

.fade-portfolio {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 755px;

}


.next {
	right: 35px;
}

.prev {
	left: 35px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}


.dot-portfolio {
	cursor: pointer;
	height: 12px;
	width: 12px;
	background-color: #FFFFFF;
	border-radius: 25%;
	display: inline-block;
	//transition: background-color 0.6s ease;
	text-align: center;


}

.dot-portfolio:nth-child(3), .dot-portfolio:nth-child(4) {
      
    margin-bottom: 5px;
   

}

.mark-slide-portfolio {
	position: absolute;
	bottom: 73px;
	left: 144px;
	width: 40px;
	text-align: center;
}


.portfolio-title {
	font-size: 50px;
	margin: 0px;
	padding: 0px;
}


.subscript-portfolio {
      margin: 0px;
	  padding: 0px;
	  font-family: 'Didact Gothic', sans-serif;
	  font-size: 20px;
}
.description-portfolio {
	width: 600px;
	color: white;
	padding-top: 300px;
	padding-left: 115px;

}

.social-porfolio {
   
    z-index: 1;
	font-size: 25px;
	position: absolute;
	bottom: 50px;
    right: 100px;
}

.social-slide-p {
	display: inline-block;
	margin-right: 35px;
}

.social-slide-p:last-child {
	margin-right: 0px;
}


.social-slide-p a {
	color: white;
}

.social-porfolio {
	float: right;
}

.counter-portfolio {
	font-size: 103px;
	color: white;
	font-weight: bold;
	opacity: 0.5;
	position: absolute;
	bottom: 55px;
	left: 260px;
    
 }


/* Конец стили портфолио */




/* Начало стили фидбека */

.feedback {
	height: 700px;
	position: relative;
	padding-top: 100px;
}


.title-feedback {
	text-align: center;
	margin-top: 60px;
	font-weight: lighter;
	font-size: 16px;
}

/* Начало стили слайдера для фидбека */


.slideshow-container-feedback {
	
	position: relative;
	height: 400px;
	
}

.fade-feedback  {
	margin-top: 50px;
  
}


.mark-feedback {
    margin-top: 20px;
    display: table;
    margin: auto;
   
}

/* ширина у .fade-feedback img и .img-feedback-client должны совпадать
чтобы центрировать фотку клиентов */

.fade-feedback img {
   border-radius: 50%;
   height: 100px;
   width: 100px;
}


.img-feedback-client {
	margin: 0 auto;
	width: 100px;
}

.next-feedback, .prev-feedback {
	position: absolute;
    cursor: pointer;
    top: 40%;
    margin-top: -25px;

}

.prev-feedback {
	left: 40%;
}

.next-feedback {
   right: 40%;
}

.prev-feedback:hover, .next-feedback:hover {
	background-color: rgba(0,0,0,0.8);
}


.dot-feedback {
	cursor: pointer;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-left: 30px;

}

.dot-feedback:nth-child(1){
	background-image: url(../images/feedback-1.jpg);
	margin-left: 0px;
	
}

.dot-feedback:nth-child(2) {
    background-image: url(../images/feedback-2.jpg);
    

}

.dot-feedback:nth-child(3) {
    background-image: url(../images/feedback-3.jpg);
}

.dot-feedback:nth-child(4) {
    background-image: url(../images/feedback-4.jpg);
}

.name-feedback {
	text-align: center;
	font-size: 17px;
	font-weight: bold;
}

.comment-feedback {
	text-align: center;
	font-size: 14px;
	padding-left: 260px;
	padding-right: 260px;
}

/* Конец стили фидбека */




/* Начало стили блока команды */

.crew {
	height: 700px;
	position: relative;
}

.team-container {
	margin-top: 50px;
}

.crewman {
	height: 460px;
	width: 275px;
	border-radius: 50px;
   -webkit-box-shadow: -1px 5px 21px 0px rgba(0,0,0,0.35);
-moz-box-shadow: -1px 5px 21px 0px rgba(0,0,0,0.35);
box-shadow: -1px 5px 21px 0px rgba(0,0,0,0.35);
    overflow: hidden;
    display: inline-block;
    margin-left: 80px;
}

.crewman:nth-child(1) {
	margin-left: 0px;
}

.photo-crewman {
	height: 270px;
}

.positiom-crewman {
	text-align: center;
	font-size: 16px;
    font-family: 'Didact Gothic', sans-serif;
    color: rgba(0, 0, 0, 0.5)
}

.social-crewman {
	display: table;
	margin: auto;
	margin-top: 36px;
}


.social-crewman a {
   color: rgba(0, 0, 0, 0.25);
   font-size: 25px;
   margin-left: 35px;
}

.social-crewman a:nth-child(1) {
	margin-left: 0px;
}

.name-crewman {
	text-align: center;
	font-size: 22px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.5);
}

.photo-crewman {
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
}

.photo-crewman-1 {
    background-image: url(../images/crewman-1.png);
 }

.photo-crewman-2 {
     background-image: url(../images/crewman-2.png);
 }

.photo-crewman-3 {
     background-image: url(../images/crewman-3.png);
 }

/* Конец стили блока команды */



/* стилизуем фрейм для прокрутки */

.main-frame {
	height: 700px;
	overflow: hidden;
	position: relative;
	transition-duration: 1s;

}

.frame-cont {
	transition-duration: 1s; 
	transition-timing-function: ease;
}









